@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import from Google Fonts */
/* Apply the font globally */
body {
  color: var(--foreground);
  background: var(--background);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}
